p#pogrubienie_piotrowski {
    font-size: 35px; 
    color: #8B60C9; 
    font-weight: bold;
}


p#pochylona_piotrowski {
    font-size: 40pt;
    color: #EFC465; 
}


p#index_gorny_piotrowski {
    font-size: 1.5cm; 
    color: #9F9215; 
}


p#index_dolny_piotrowski {
    font-size: 2.5cm; 
    color: rgb(59,246,221);
}


p#mono_piotrowski {
    font-size: 45px;
    color: #1FE265; 
}


p#powiekszenie_piotrowski {
    color: #594297; 
}


p#pomniejszenie_piotrowski {
    color: rgb(189,166,51); 
}
